<!DOCTYPE html>
<html lang="tr">

@await Component.InvokeAsync("_UILayoutHeadComponentPartial")

<body>

@RenderBody()

</body>
@await Component.InvokeAsync("_UILayoutScriptsComponentPartial")
</html>